{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <h2 class="form signin-heading">Bitte loggen Sie sich ein</h2>

    <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email-Adresse" required="required" />

    <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" class="form-control" name="_password" required="required" placeholder="Passwort" />

    <div class="checkbox">
        <label>
        <input type="checkbox"
               id="remember_me"
               name="_remember_me"
               value="remember_me">{{ 'security.login.remember_me'|trans }}
        </label>
    </div>
    <input type="submit"
           id="_submit"
           name="_submit"
           class="btn btn-lg btn-primary btn-block"
           value="{{ 'security.login.submit'|trans }}" />
</form>
{% endblock fos_user_content %}

